body, html {
    background-image: url("../images/coral-background.jpg");
    height: 100%;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
}

#search-bar {
    position: relative;
    float: left;
    top: 5%;
    width: 60%;
    max-width: 800px;
    border: 3px solid rgb(253, 114, 172);
    margin-left: 10%;
    margin-bottom: 80px;
}

#search {
    float: left;
    width: 85%;
    height: 35px;
}

#searchSubmit {
    float: left;
    width: 5%;
    padding: 0;
    margin: 0;
    width: 15%;
    height: 35px;
    color: white;
    background-color: rgb(67, 196, 247);
    border-color: white;
    font-weight: bolder;
}

.card-columns {
    float: left;
    margin-right: 85px;
}

.card {
    margin: 20px;
    display: inline-block;
}

.card-body {
    margin: 25px;
    border: 10px solid rgb(67, 196, 247);;
}

#more-recipes {
    background-color: rgb(67, 196, 247);
    border: 2px solid;
    border-color: black;
    color: white;
    padding: 5px 15px;
    margin: 15px;
    font-size: 20px;
    float: right;
}

/* .recformat{
    text-align: center;
    height: 50%;
    width: 500px;
    float: left;
    top: 20px;
    color: black;
}

img{
    height:150px;
    width: 150px;
    border-width: 1px;
    border-style: solid;
    border-color:black;
}

button{
    opacity: 0.65;
    position: relative;
    margin: 1rem auto;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: black;
    border-width: 0;
    border-style: solid;
    border-color: #ffffff;
    padding: .5rem;
    margin: 10px;
    cursor: pointer;
    width: calc(100% / 5);
    float: left; 
    } */