body, html {
    background-image: url("../images/coral-background.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}

#search-bar {
    position: relative;
    float: left;
    top: 5%;
    width: 70%;
    max-width: 800px;
    border: 3px solid rgb(253, 114, 172);
    margin-left: 20%;
    margin-bottom: 50px;
    margin-right: 50%;
}

#search {
    float: left;
    width: 85%;
    height: 35px;
}

#searchSubmit {
    /* float: left; */
    width: 5%;
    padding: 0;
    margin: 0;
    width: 15%;
    height: 35px;
    color: white;
    background-color: rgb(67, 196, 247);
    border-color: white;
    font-weight: bolder;
}

.card-columns {
    float: left;
    margin-right: 85px;
}

.card {
    margin: 20px;
    display: inline-block;
}

.card-body {
    margin: 25px;
    border: 7px solid rgb(67, 196, 247);;
}

#more-recipes {
    background-color: rgb(67, 196, 247);
    border: 2px solid;
    border-color: black;
    color: white;
    padding: 5px 15px;
    margin: 15px;
    font-size: 20px;
    float: right;
}

#mainCard {
    background-color: rgb(67, 196, 247);
}

#search-jumbotron {
    text-align: center;
    margin-top: 25px;
}

.navbar {
    opacity: 0.65;
}