body{
    color:#777777;
    font-family: "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    width: 960px;
    height:100%;
    text-align:center;
    display: inline-block;
    background-image: url("../images/background5.jpg");
    }

button{
    opacity: 0.65;
    position: relative;
    margin: 1rem auto;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: black;
    border-width: 0;
    border-style: solid;
    border-color: #ffffff;
    padding: .5rem;
    margin: 10px;
    cursor: pointer;
    width: calc(100% / 6);
    float: left; 
    }

.container{
    position: relative;
    left: 60%;
    top: 300px;
    
}